body,html{
margin:0px;
padding:0px;


}

header{
    background-color: cyan;
    color: red;
}

form{
    width: 100%;

}
table{
    border-collapse: collapse;
    width:100%;
}
th, td {
    text-align: left;
    padding: 8px;
  }
  tr{
      background-color:lightcyan;
      color: red;
      font-size: 16px;
    font:bold;
  }
  
  th,td {
    background-color:cyan;
    color:red;
    font-size: 18px;
    font:bold;
  }

#containerTable{
    width: 100%;
}

input {
    margin: 20px;
    font-size: 20px;
    width: 250px;
  }

#button,#delButton{
    margin: 20px;
    background-color: rgb(37, 7, 7); 
    border: none;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;

}

#toatlMonthly{
    background-color: cyan;
    font:red;
    font-weight: bold;
    

}